<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">		
		<title>Pokemon Pokedex</title>

		<!-- external CSS link -->
		
		<link rel="stylesheet" href="public/css/index.css">
	</head>
	<body">

		<nav>
			<ul><a href="/profile"> Profile</a></ul>
		</nav>


		<h2 id="username"> Hello <%=user.userName%></h2>
		
		
		<h1 class="choose"> Choose your Pokemon</h1>
			<input  type="text" name="" value="">
			<button  type="button" name="button"> Get Pokemon</button>
	  
			<h2 class="name"> Name:</h2> <h2 id='name'> Name </h2>
			
			
			<img>
	
	
			<h3 class="type"> Type: </h3> <h3  id='type'> Type</h3>
			<h3 class="attack"> Attack:</h3> <h3  id="attack"> Attack</h3>
			<h3 class="defense"> Defense: </h3> <h3 id="defense"> Defense</h3>
			
		
		<h1> ADD POKEMON TO YOUR TEAM !</h1>

		
		
		<form action="/pokemon/createTeam" method="POST">

			<label> Team Name:</label>
			<input type="text" name="teamName" placeholder="teamName" id="name"><br>

		
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<input type="text" name="pokemonTeam" placeholder="pokemon">
			<button type="submit"> Save Team</button>
			

		</form>



		<script type="text/javascript" src="public/js/main.js"></script>
	</body>
</html>
