<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 1</title>
</head>
<body>
    <h1> Pokemon Team 1</h1>

    
    
    <h1> Pokemon</h1>
    <!-- <input  id="#pokemonTeam1" type="text" name="" value=""> -->

    <section id="pokemon1"> 
        <h2 class="attack"> Attack: </h2> <h2 id="attackTeam1"> Attack </h2>

        <h2 class="defense"> Defense: </h2> <h2 id="defenseTeam1"> Defense</h2>

        <h2 class="type"> Type: </h2> <h2 id="typeTeam1"> Type</h2>
    </section>













    <script src="public/js/team1.js"></script>
</body>
</html>