/* Box Model Hack */
* {
     box-sizing: border-box;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font: 300;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* .center{
     display: flex;
     justify-content: center;
}

.stubborn{
     padding-left: 100px; 

} */


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.pokemonlist{
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     
}

.title{
     display: flex;
     justify-content: center ;
}

.list{
     list-style: none;
}

